body {
    background-image: url("C0mESpaceCE0N.png");
}
.nav-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
.nav-btn {
    padding: 5px 12px;
    text-align: center;
    background: hsl(0, 90%, 45%);
    borsder: 1px solid #e61829a8;
    color: rgb(187, 16, 16);
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    align-items: center;
  }
  .nav-btn:hover {
    background: hsla(0, 90%, 32%, 0.407);
    transform: translateY(-2px);
  }
a {
    text-align: center;
    color: #bb0303;
}
 .header {
    background: linear-gradient(135deg, #721e1e, #cb0d0d);
    color: #fff;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
    .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  .avatar {
    width: 36px; height: 36px;
    border-radius: 50%;
    background: #ffd700;
    color: #721e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
    .post-title .tag {
    display: inline-block;
    background: #e8f0fe;
    color: #c80f0f;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 8px;
  }
   .post-meta {
    font-size: 12px;
    color: #999;
  }
  .post-meta span { margin-right: 12px; }
 h1 {
    text-align: center;
    color: rgb(236, 70, 70);
}