h1 {
    color: rgb(246, 164, 23);
}
a {     
color: white;
}
  }
  body {
    background-image:url('img102.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
        .button {
             padding: 20px 30px;
             background-color:rgba(0,0,0,0.3);
             color: white;
             border: none;
             bprder-radius: 50px;
             cursor: pointer;
         }
         .button:hover {
             background-color: #00002A;
         }
